  <div class="container" style="margin-top: 40px">
    <div class="row">
      <div class="col-md-4">
        <%= bootstrap_form_for(@place) do |form| %>
          <% if place.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

              <ul>
              <% place.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <%= form.text_field :name, id: :place_name %>
          <%= form.text_field :address, id: :place_address %>
          <%= form.text_field :phone, id: :place_phone %>
          <%= form.text_field :kind, id: :place_kind %>
        </div>
        <div class="col-md-4">  
          <%= form.number_field :current_rating, id: :place_current_rating %>
          <%= form.text_field :purpose, id: :place_purpose %>
          <%= form.text_field :location, id: :place_location %>
          <%= form.text_field :age_range, id: :place_age_range %>
        </div>  
        <div class="col-md-4">  
          <%= form.text_field :place_type, id: :place_place_type %>
          <%= form.text_field :latitude, id: :place_latitude %>
          <%= form.text_field :longitude, id: :place_longitude %>
          <%= form.file_field :image %>
          <%= form.submit %>
        <% end %>
    </div>
  </div>
</div>