<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="foo" style="padding-bottom: 20px">
        <span class="letter" data-letter="W">W</span>
        <span class="letter" data-letter="h">h</span>
        <span class="letter" data-letter="a">a</span>
        <span class="letter" data-letter="t">t.</span>
        <span class="letter" data-letter="W">W</span>
        <span class="letter" data-letter="o">o</span>
        <span class="letter" data-letter="u">u</span>
        <span class="letter" data-letter="l">l</span>
        <span class="letter" data-letter="d">d.</span>
        <span class="letter" data-letter="Y">Y</span>
        <span class="letter" data-letter="o">o</span>
        <span class="letter" data-letter="u">u.</span>
        <span class="letter" data-letter="L">L</span>
        <span class="letter" data-letter="i">i</span>
        <span class="letter" data-letter="k">k</span>
        <span class="letter" data-letter="e">e.</span>
        <span class="letter" data-letter="T">T</span>
        <span class="letter" data-letter="o">o.</span>
        <span class="letter" data-letter="D">D</span>
        <span class="letter" data-letter="o">o</span>
        <span class="letter" data-letter="?">?</span>  
      </div>
      <div class="col-md-4">
        <div class="panel sharp-pan pic-pan" style="background-image: url(<%= asset_path 'index-bar.jpeg' %>);">
          <div class="panel-body text-center">
            <h1 class="logo-font box-font">Grab A Drink</h1>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel sharp-pan pic-pan" style="background-image: url(<%= asset_path 'index-party.jpeg' %>);">
          <div class="panel-body text-center">
            <h1 class="logo-font box-font">Party</h1>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel sharp-pan pic-pan" style="background-image: url(<%= asset_path 'index-restaurant.jpeg' %>);">
          <div class="panel-body text-center">
            <h1 class="logo-font box-font">Dine</h1>
          </div>
        </div>
      </div>              
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="panel sharp-pan pic-pan" style="background-image: url(<%= asset_path 'index-museum.jpg' %>);">
          <div class="panel-body text-center">
            <h1 class="logo-font box-font">Art&museums</h1>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel sharp-pan pic-pan" style="background-image: url(<%= asset_path 'index-explore2.jpg' %>);">
          <div class="panel-body text-center">
            <h1 class="logo-font box-font">Explore the city</h1>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel sharp-pan pic-pan" style="background-image: url(<%= asset_path 'index-lucky.jpg' %>);">
          <div class="panel-body text-center">
            <h1 class="logo-font box-font">Feeling Lucky</h1>
          </div>
        </div>
      </div>              
    </div>
  </div>      
</div>

<div class="container" style="padding-top: 15%">
  <div class="row">
    <div class="col-md-8 col-md-push-2 snip0020">
      <div class="panel sharp-pan pic-pan-best" style="background-image: url(<%= asset_path 'bar_of_week.jpeg' %>);">
        <div class="panel-body text-center">
          <figcaption>
            <div><h2></h2></div>
            <div>
                <p></p>
                <div class="curl"></div>
            </div>
            <a href="#"></a>
          </figcaption>           
          <h1 class="logo-font-best box-font-best">Bar Of The Week</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 10%">
    <div class="col-md-8 col-md-push-2 snip0020">
      <div class="panel sharp-pan pic-pan-best" style="background-image: url(<%= asset_path 'party_of_week.jpeg' %>);">
        <div class="panel-body text-center">
          <figcaption>
            <div><h2></h2></div>
            <div>
                <p></p>
                <div class="curl"></div>
            </div>
            <a href="#"></a>
          </figcaption>           
          <h1 class="logo-font-best box-font-best">Party Of The Week</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 10%">
    <div class="col-md-8 col-md-push-2 snip0020">
      <div class="panel sharp-pan pic-pan-best" style="background-image: url(<%= asset_path 'restaurant_of_week.jpeg' %>);">
        <div class="panel-body text-center">
          <figcaption>
            <div><h2></h2></div>
            <div>
                <p></p>
                <div class="curl"></div>
            </div>
            <a href="#"></a>
          </figcaption>           
          <h1 class="logo-font-best box-font-best">Restaurant Of The Week</h1>
        </div>
      </div>
    </div>
  </div>        
</div>











<div class="slide-wrapper">
    <div class="slide-container">
        <div class="slide">
            <div class="slide-text">
                <h2 class="title">The Life Aquatic</h2>
                <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
                <div class="summary">With a plan to exact revenge on a mythical shark that killed his partner, oceanographer Steve Zissou rallies a crew that includes his estranged wife, a journalist, and a man who may or may not be his son.</div>
            </div>
            <div class="slice slice-1 slice-parent">
                <div class="slice slice-2 slice-child">
                    <div class="slice slice-3 slice-child">
                        <div class="slice slice-4 slice-child"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<style>
.slide-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#fefefe, #afafaf);
}

.slide-container {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 325px);
    width: 650px;
    height: 400px;
}

.slide-container::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 7.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.8);
    filter: blur(24px);
}

.slide {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/544318/life-aquatic-submarine.png"), auto;
    background-color: #4a4a4a;
    perspective: 1500px;
}

.slide::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    
    background-size: cover;
    opacity: 0.4;
    filter: blur(2px);
}

.slide-text {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    color: white;
    font-family: 'Overpass';
    font-weight: lighter;
}

.title {
    font-size: 1.35em;
    margin: 10px 0;
}

.rating {
    margin: 5px 0;
}

.summary {
    margin: 10px 0;
    line-height: 1.25em;
}

.fa {
    width: 16px;
    height: 16px;
}

.slice {
    position: absolute;
    z-index: 2;
    left: 100%;
    height: 100%;
    width: 100%;
    background-image: url("assets/bar_of_week.jpg");
    background-size: cover;
    box-shadow: inset 0px 0px 0px transparent;
    transform-style: preserve-3d;
    transform-origin: center left;
    transition: transform 0.8s, box-shadow 0.8s;
}

.slice::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);
    transition: opacity 0.6s;
}

.slice-1 {
    background-position: 0 0;
}

.slice-2 {
    background-position: 33.3% 0;
}

.slice-3 {
    background-position: 66.6% 0;
}

.slice-4 {
    background-position: 100% 0;
}

.slice-parent {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 25%;
}

.slide-container:hover .slice::after {
    opacity: 0.8;
}

.slide-container:hover .slice-1 {
    transform: rotateY(-60deg);
    box-shadow: inset 10px -10px 40px rgba(0, 0, 0, 0.5);
}

.slide-container:hover .slice-2 {
    transform: rotateY(120deg);
    box-shadow: inset -10px -10px 60px rgba(0, 0, 0, 0.7);
}

.slide-container:hover .slice-3 {
    transform: rotateY(-120deg);
    box-shadow: inset 10px -10px 60px rgba(0, 0, 0, 0.7);
}

.slide-container:hover .slice-4 {
    transform: rotateY(120deg);
    box-shadow: inset -10px -10px 40px rgba(0, 0, 0, 0.4);
}

.codepen-link {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    z-index: 10;
    border-radius: 50%;
    box-sizing: border-box;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/544318/logo.jpg");
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
    transition: all 0.25s;
}

.codepen-link:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px #0c0c0c;
}

</style>





